/* Styling for the header section */
.header {
    padding: 25px 0;      /* Adds space above and below the header */ 
    text-align: center;   /* Centers the content inside the header */
    background: #222;   /* Sets a dark background colour for the header */
  }

  /* Styling for any images inside the header */
  .header img {
    width: 100px;   /* Makes the image 100 pixels wide */ 
    height: 13px;   /* Makes the image 13 pixels tall */
  }